body {
    background-color: #f0f0f0;
}

.container {
    background-color: #49d5df;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#estadoSeleccionado {
    background-color: #007BFF;
    color: #fff; 
    padding: 5px;
    border-radius: 3px;
}